@import 'tailwindcss';

@theme {
  --color-primary-bg: #fff;
  --color-secondary-bg: #8dd3bb;
  --color-secondary-bg2: #112211;

  --color-primary-text: #112211;
  --color-secondary-text: #fff;
  --color-highlight-text: #ff8682;
  --color-heading: #000;
}

body {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sawarabi Gothic', serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-heading);
}
